@charset "utf-8";

/* Header */

header {
  margin: 0 auto 10px;
  padding: 0 32px;
  max-width: 1600px;
  box-sizing: border-box;
  /* border-bottom: 1px solid #000; */
}
.header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}

.header-wrap .logo-wrap a {
  display: block;
  max-width: 80px;
}

.header-wrap .nav-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.header-wrap .nav-wrap .pc-nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.header-wrap .nav-wrap .pc-nav ul li:not(:first-of-type) {
  margin: 0 0 0 24px;
}
.header-wrap .nav-wrap .pc-nav ul li a {
  display: block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  color: #000;
  transition: .3s;
}
.header-wrap .nav-wrap .pc-nav ul li a:hover {
  color: #fff;
}
.header-wrap .nav-wrap .menu-btn {
  display: none;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.header-wrap .nav-wrap .menu-btn .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar {
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
  color: transparent;
  background-color: #000;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar:nth-of-type(2) {
  top: 11px;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar:nth-of-type(3) {
  top: auto;
  bottom: 2px;
}

.header-wrap .nav-wrap .mo-nav {
  display: none;
}

/* Footer */
footer {
  margin: 10px auto 0;
  padding: 0 32px;
  max-width: 1600px;
  box-sizing: border-box;
}
.footer-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
  border-top: 1px solid #000;
}
.footer-wrap .sns a,
.footer-wrap .copyright {
  font-size: 14px;
}
.footer-wrap .sns a {
  display: inline-block;
  transition: .3s;
}
.footer-wrap .sns a:hover {
  color: #fff;
}
.footer-wrap .sns a:not(:last-of-type) {
  margin-right: 10px;
}

/* Section title */
.sec-title {
  margin-bottom: 42px;
}
.sec-title h3 {
  font-size: 30px;
  font-weight: 500;
}


/* Folio List */
#folios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -16px;
}
#folios .folio {
  display: block;
  margin: 16px;
  width: calc(33.3333% - 32px);
}
#folios .folio > a {
  display: block;
  width: 100%;
}
#folios .folio .img-wrap {
  position: relative;
  overflow: hidden;
}
#folios .folio .img-wrap .dim {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
#folios .folio .img-wrap .dim .dim-info {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}
#folios .folio .img-wrap .dim .dim-info::after {
  content: '';
  display: block;
  margin-top: 4px;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: .2s;
  transition-delay: .2s;
}
#folios .folio .img-wrap img {
  display: block;
}
#folios .folio .info-wrap {
  margin-top: 12px;
}
#folios .folio .info-wrap .type-detail,
#folios .folio .info-wrap .title,
#folios .folio .info-wrap .date {
  color: #000;
  transition: .3s;
}
#folios .folio .info-wrap .type-detail {
  font-size: 14px;
  font-weight: 500;
}
#folios .folio .info-wrap .title {
  margin: 2px 0 8px;
  font-size: 18px;
  font-weight: 700;
  word-break: keep-all;
}
#folios .folio .info-wrap .date {
  font-size: 14px;
  font-weight: 500;
}
#folios .folio > a:hover .img-wrap .dim {
  opacity: 1;
  visibility: visible;
}
#folios .folio > a:hover .img-wrap .dim .dim-info {
  opacity: 1;
  visibility: visible;
}
#folios .folio > a:hover .img-wrap .dim .dim-info::after {
  width: 100%;
}
#folios .folio > a:hover .info-wrap .type-detail,
#folios .folio > a:hover .info-wrap .title,
#folios .folio > a:hover .date {
  color: #fff;
}

/* Folio Details */
.folio-detail-wrap .top .txt-area {
  display: flex;
  padding-bottom: 30px;
}
.folio-detail-wrap .top .txt-area .info {
  flex: 1;
}
/* .folio-detail-wrap .top .txt-area .info li::before {
  content: '-';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
} */
.folio-detail-wrap .top .txt-area .info li {
  display: flex;
  padding-right: 20px;
  /* padding-left: 18px; */
  position: relative;
}
/* .folio-detail-wrap .top .txt-area .info li:not(:last-of-type) {
  padding-bottom: 4px;
} */
.folio-detail-wrap .top .txt-area .info li div:first-of-type {
  padding-right: 6px;
}
.folio-detail-wrap .top .txt-area .info li div,
.folio-detail-wrap .top .txt-area .info li div a {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}
.folio-detail-wrap .top .txt-area .info li div a {
  transition: .3s;
  text-decoration: underline;
}
.folio-detail-wrap .top .txt-area .info li div a:hover {
  color: #fff;
}

.folio-detail-wrap .top .txt-area .description {
  flex: 1;
}
/* .folio-detail-wrap .top .txt-area .description p::before {
  content: '-';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
} */
.folio-detail-wrap .top .txt-area .description p {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  word-break: keep-all;
  /* padding-left: 18px; */
}
.folio-detail-wrap .top .txt-area .description p a {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  word-break: keep-all;
  transition: .3s;
  text-decoration: underline;
}
.folio-detail-wrap .top .txt-area .description p a:hover {
  color: #fff;
}

.folio-detail-wrap .bottom {
  margin-top: 60px;
}
.folio-detail-wrap .bottom .list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  transition: .3s;
}
.folio-detail-wrap .bottom .list-btn:hover {
  border: 1px solid #fff;
  color: #000;
  background-color: #fff;
}

/* About */

.about-wrap .col-wrap {
  display: flex;
}
.about-wrap .col-wrap > div {
  flex: 1;
}
.about-wrap .who {
  margin-bottom: 42px;
}
.about-wrap .who p {
  font-family: 'Poppins','Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  word-break: keep-all;
}
.about-wrap .who p sup {
  font-size: 12px;
}
.about-wrap .who p strong {
  font-weight: 500;
  text-decoration: underline;
}
.about-wrap .row-wrap .sub-tit {
  margin-bottom: 30px;
  /* padding-bottom: 16px; */
  /* box-sizing: border-box;
  border-bottom: 1px solid #000; */
  font-size: 24px;
}
.about-wrap .normal-wrap ol li {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.about-wrap .normal-wrap ol li:not(:last-of-type) {
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}
.about-wrap .normal-wrap ol li div {
  font-family: 'Poppins','Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
.about-wrap .normal-wrap ol li div:not(:last-of-type) {
  padding-bottom: 8px;
}
.about-wrap .normal-wrap ol li .exper-tit {
  font-size: 20px;
  font-weight: 500;
}