@charset "utf-8";

/* Header */

header {
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}
.header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  max-width: 1600px;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.header-wrap .logo-wrap a {
  display: block;
  max-width: 109px;
}

.header-wrap .nav-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.header-wrap .nav-wrap .pc-nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.header-wrap .nav-wrap .pc-nav ul li {
  margin: 0 12px;
}
.header-wrap .nav-wrap .pc-nav ul li a {
  display: block;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: -0.3px;
  line-height: 1.4;
  color: #000;
  transition: .3s;
}
.header-wrap .nav-wrap .pc-nav ul li a:hover {
  color: #fff;
}
.header-wrap .nav-wrap .menu-btn {
  display: none;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.header-wrap .nav-wrap .menu-btn .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar {
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
  color: transparent;
  background-color: #000;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar:nth-of-type(2) {
  top: 11px;
}
.header-wrap .nav-wrap .menu-btn .wrapper .bar:nth-of-type(3) {
  top: auto;
  bottom: 2px;
}

.header-wrap .nav-wrap .mo-nav {
  display: none;
}

/* Folio List */
#folios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -12px;
}
#folios .folio {
  display: block;
  margin: 12px;
  width: calc(33.3333% - 24px);
}